*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header .navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #00000054;
    border-bottom: 1px solid #ffffff21;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-decoration: none;
}

header .navbar ul li{
    list-style: none;
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    font-size: 1.1rem;
    padding: 20px;
    color: white;
    display: block;
}

header .navbar ul li a:hover{
    background: #ac8354a6;
    color: #4b2501;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #00000049;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border: 1px solid #ffffff2d;
}

header .navbar ul li ul li ul{
    list-style: none;
    top: 0;
    left: 200px;
}

header .navbar ul li:focus-within > ul, header .navbar ul li:hover > ul{
    display: initial;
}

.flechasubmenu{
    margin-left: 10px;
    width: 15px;
}

#menu{
    display: none;
}

.menu-icono{
    width: 40px;
}

header label{
    cursor: pointer;
    display: none;
}

@media(max-width:991px){

    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #00000054;
        border-bottom: 1px solid #ffffff21;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    .header .navbar ul li ul li{
        background: #00000049;
    }

    .header .navbar ul li ul li ul{
        width: 100%;
        top: 0;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

}
