body{
    background: linear-gradient(#42291e, #633f2f, #885b46, #633f2f, #42291e);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

p{
    background: #00000059;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 25px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    border: 1px solid #ffffff4f;
}

h1{
    background: #00000059;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8); 
    text-align: center;
}

.cards{
    position: relative;
    width: 400px;
    height: 450px;
    margin: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cards div{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cards .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.cards .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .front h2{
    font-family: 'Signika Negative', sans-serif;
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.473);
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.cards .back h2{
    font-family: 'Signika Negative', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    color: #4b2501;
    background: #ffffff75;
    letter-spacing: 2px;
}

.cards .back{
    transform: perspective(600px) rotateY(180deg);
    background: #ac8354;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.cards .back .listsur li{
    list-style: none;
    text-align: center;
    padding-bottom: 40px;
}

.cards .back .listarg li{
    list-style: none;
    text-align: center;
    padding-bottom: 20px;
}

.cards .back ul li a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
}

.cards .back ul li a:hover{
    color: #4b2501;
}

.cards:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.cards:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

footer{
    background: #2c1105;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
}

footer .icon-redes{
list-style: none;
}

footer .icon-redes li{
    display: flex;
    float: left;
    padding: 10px;
}

footer .icon-redes li a{
    text-decoration: none;
}

footer .icon-redes li a:hover{
    background: rgba(255, 255, 255, 0.274);
    border-radius: 3px;
    box-shadow: 0 5px 10px #000;

}

footer .icon-redes li a img{
    width: 25px;
}

footer .contacto{
    align-items: center;
    justify-content: right;
    display: flex;
    margin: 5px;
}

footer .contacto a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

footer .contacto a:hover{
    color: #ac8354;
}